<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @client.name%></h3>
  </div>
  <div class="panel-body">
    Date: <%= @client.datestamp%>
    Phone: <%= @client.phone%>
    Barber:  <%= @client.barber%>
  </div>
</div>
